name: notify ms teams ci-cd channel

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  check_run:
    branches: ["main"]
  release:
    branches: ["main"]

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: toko-bifrost/ms-teams-deploy-card@master
        if: always()
        with:
          github-token: ${{ github.token }}
          webhook-uri: ${{ secrets.MS_TEAMS_WEBHOOK_URI }}
